webAppFinal/web/WEB-INF/wsdl/localhost_8080/webServiceFinal/Servicios.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicios.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicios.org/">

<xs:element name="getCuentas" type="tns:getCuentas"/>

<xs:element name="getCuentasResponse" type="tns:getCuentasResponse"/>

<xs:element name="setCuentas" type="tns:setCuentas"/>

<xs:element name="setCuentasResponse" type="tns:setCuentasResponse"/>

<xs:complexType name="getCuentas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCuentasResponse">
<xs:sequence>
<xs:element name="return" type="tns:cuenta" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cuenta">
<xs:sequence>
<xs:element name="idClient" type="xs:int"/>
<xs:element name="idCuenta" type="xs:int"/>
<xs:element name="numeroCuenta" type="xs:string" minOccurs="0"/>
<xs:element name="saldoD" type="xs:double"/>
<xs:element name="saldoQ" type="xs:double"/>
<xs:element name="tipo" type="xs:string" minOccurs="0"/>
<xs:element name="tipoCuenta" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setCuentas">
<xs:sequence>
<xs:element name="arg0" type="tns:cuenta" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setCuentasResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>