webAppFinal/web/WEB-INF/wsdl/localhost_8080/webServiceFinal/Servicios.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios.org/" name="Servicios">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios.org/" schemaLocation="http://localhost:8080/webServiceFinal/Servicios?xsd=1"/>
</xsd:schema>
</types>
<message name="insertarMovimiento">
<part name="parameters" element="tns:insertarMovimiento"/>
</message>
<message name="insertarMovimientoResponse">
<part name="parameters" element="tns:insertarMovimientoResponse"/>
</message>
<message name="DaQ">
<part name="parameters" element="tns:DaQ"/>
</message>
<message name="DaQResponse">
<part name="parameters" element="tns:DaQResponse"/>
</message>
<message name="setCliente">
<part name="parameters" element="tns:setCliente"/>
</message>
<message name="setClienteResponse">
<part name="parameters" element="tns:setClienteResponse"/>
</message>
<message name="getCliente">
<part name="parameters" element="tns:getCliente"/>
</message>
<message name="getClienteResponse">
<part name="parameters" element="tns:getClienteResponse"/>
</message>
<message name="getCuentas">
<part name="parameters" element="tns:getCuentas"/>
</message>
<message name="getCuentasResponse">
<part name="parameters" element="tns:getCuentasResponse"/>
</message>
<message name="setCuentas">
<part name="parameters" element="tns:setCuentas"/>
</message>
<message name="setCuentasResponse">
<part name="parameters" element="tns:setCuentasResponse"/>
</message>
<message name="getMovimiento">
<part name="parameters" element="tns:getMovimiento"/>
</message>
<message name="getMovimientoResponse">
<part name="parameters" element="tns:getMovimientoResponse"/>
</message>
<message name="setMovimiento">
<part name="parameters" element="tns:setMovimiento"/>
</message>
<message name="setMovimientoResponse">
<part name="parameters" element="tns:setMovimientoResponse"/>
</message>
<message name="getTipoCuenta">
<part name="parameters" element="tns:getTipoCuenta"/>
</message>
<message name="getTipoCuentaResponse">
<part name="parameters" element="tns:getTipoCuentaResponse"/>
</message>
<message name="setTipoCuenta">
<part name="parameters" element="tns:setTipoCuenta"/>
</message>
<message name="setTipoCuentaResponse">
<part name="parameters" element="tns:setTipoCuentaResponse"/>
</message>
<message name="listarCuentaID">
<part name="parameters" element="tns:listarCuentaID"/>
</message>
<message name="listarCuentaIDResponse">
<part name="parameters" element="tns:listarCuentaIDResponse"/>
</message>
<message name="listarClienteID">
<part name="parameters" element="tns:listarClienteID"/>
</message>
<message name="listarClienteIDResponse">
<part name="parameters" element="tns:listarClienteIDResponse"/>
</message>
<message name="setTipoMovimiento">
<part name="parameters" element="tns:setTipoMovimiento"/>
</message>
<message name="setTipoMovimientoResponse">
<part name="parameters" element="tns:setTipoMovimientoResponse"/>
</message>
<message name="getTipoMovimiento">
<part name="parameters" element="tns:getTipoMovimiento"/>
</message>
<message name="getTipoMovimientoResponse">
<part name="parameters" element="tns:getTipoMovimientoResponse"/>
</message>
<portType name="Servicios">
<operation name="insertarMovimiento">
<input wsam:Action="http://servicios.org/Servicios/insertarMovimientoRequest" message="tns:insertarMovimiento"/>
<output wsam:Action="http://servicios.org/Servicios/insertarMovimientoResponse" message="tns:insertarMovimientoResponse"/>
</operation>
<operation name="DaQ">
<input wsam:Action="http://servicios.org/Servicios/DaQRequest" message="tns:DaQ"/>
<output wsam:Action="http://servicios.org/Servicios/DaQResponse" message="tns:DaQResponse"/>
</operation>
<operation name="setCliente">
<input wsam:Action="http://servicios.org/Servicios/setClienteRequest" message="tns:setCliente"/>
<output wsam:Action="http://servicios.org/Servicios/setClienteResponse" message="tns:setClienteResponse"/>
</operation>
<operation name="getCliente">
<input wsam:Action="http://servicios.org/Servicios/getClienteRequest" message="tns:getCliente"/>
<output wsam:Action="http://servicios.org/Servicios/getClienteResponse" message="tns:getClienteResponse"/>
</operation>
<operation name="getCuentas">
<input wsam:Action="http://servicios.org/Servicios/getCuentasRequest" message="tns:getCuentas"/>
<output wsam:Action="http://servicios.org/Servicios/getCuentasResponse" message="tns:getCuentasResponse"/>
</operation>
<operation name="setCuentas">
<input wsam:Action="http://servicios.org/Servicios/setCuentasRequest" message="tns:setCuentas"/>
<output wsam:Action="http://servicios.org/Servicios/setCuentasResponse" message="tns:setCuentasResponse"/>
</operation>
<operation name="getMovimiento">
<input wsam:Action="http://servicios.org/Servicios/getMovimientoRequest" message="tns:getMovimiento"/>
<output wsam:Action="http://servicios.org/Servicios/getMovimientoResponse" message="tns:getMovimientoResponse"/>
</operation>
<operation name="setMovimiento">
<input wsam:Action="http://servicios.org/Servicios/setMovimientoRequest" message="tns:setMovimiento"/>
<output wsam:Action="http://servicios.org/Servicios/setMovimientoResponse" message="tns:setMovimientoResponse"/>
</operation>
<operation name="getTipoCuenta">
<input wsam:Action="http://servicios.org/Servicios/getTipoCuentaRequest" message="tns:getTipoCuenta"/>
<output wsam:Action="http://servicios.org/Servicios/getTipoCuentaResponse" message="tns:getTipoCuentaResponse"/>
</operation>
<operation name="setTipoCuenta">
<input wsam:Action="http://servicios.org/Servicios/setTipoCuentaRequest" message="tns:setTipoCuenta"/>
<output wsam:Action="http://servicios.org/Servicios/setTipoCuentaResponse" message="tns:setTipoCuentaResponse"/>
</operation>
<operation name="listarCuentaID">
<input wsam:Action="http://servicios.org/Servicios/listarCuentaIDRequest" message="tns:listarCuentaID"/>
<output wsam:Action="http://servicios.org/Servicios/listarCuentaIDResponse" message="tns:listarCuentaIDResponse"/>
</operation>
<operation name="listarClienteID">
<input wsam:Action="http://servicios.org/Servicios/listarClienteIDRequest" message="tns:listarClienteID"/>
<output wsam:Action="http://servicios.org/Servicios/listarClienteIDResponse" message="tns:listarClienteIDResponse"/>
</operation>
<operation name="setTipoMovimiento">
<input wsam:Action="http://servicios.org/Servicios/setTipoMovimientoRequest" message="tns:setTipoMovimiento"/>
<output wsam:Action="http://servicios.org/Servicios/setTipoMovimientoResponse" message="tns:setTipoMovimientoResponse"/>
</operation>
<operation name="getTipoMovimiento">
<input wsam:Action="http://servicios.org/Servicios/getTipoMovimientoRequest" message="tns:getTipoMovimiento"/>
<output wsam:Action="http://servicios.org/Servicios/getTipoMovimientoResponse" message="tns:getTipoMovimientoResponse"/>
</operation>
</portType>
<binding name="ServiciosPortBinding" type="tns:Servicios">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="insertarMovimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DaQ">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCuentas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setCuentas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMovimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setMovimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTipoCuenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setTipoCuenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarCuentaID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarClienteID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setTipoMovimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTipoMovimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servicios">
<port name="ServiciosPort" binding="tns:ServiciosPortBinding">
<soap:address location="http://localhost:8080/webServiceFinal/Servicios"/>
</port>
</service>
</definitions>